@import '../../assets/styles/Global.scss';

@mixin chooseCard($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  width: $width;
  background-color: '#6CE5D5';
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #031e45;
}

.question-title-container {
  @include flexCenter();
  align-items: center;
  margin-top: 3rem;
}

.question-title {
  color: white;
  text-align: center;
}

.small-logo {
  margin-left: 2rem;
  max-width: 6%;
}

@media (min-width: 900px) {
  .container-three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.big-square-card {
  @include chooseCard(3rem, 3rem);
}

.small-square-card {
  @include chooseCard(2rem, 2rem);
}

.rectangle-card {
  @include chooseCard(3rem, 2rem);
}

// QUESTION BOX
.question-box {
  @include flexCenterColumn();

  background-color: #dcfdf9;
  min-width: 50vw;
  min-height: 50vh;
  margin-top: 10%;
  border-radius: 15px;
  padding: 2rem;
}

.question-box-tilte {
  @include flexCenterColumn();
}

.question-name {
  margin: 4rem;
}

.option-answer {
  color: '#001446';
}

.option-image {
  width: 40vw;
}

button {
  border: none;
  margin: 1rem;
}

.square-box {
  background-color: $clr-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
}

.option-answer-button {
  min-width: 90%;
  min-height: 5vh;
  background-color: #a9efe6;
  color: '#001446';
  font-size: large;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 1rem;
}

.option-icon-button {
  max-width: 19vw;
  height: 20vh;
  background-color: $clr-accent;
}

.option-icon-button img {
  max-width: 25%;
}
