@import '../../assets/styles/Global.scss';

@mixin chooseCard($width, $height) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  width: $width;
  background-color: '#6CE5D5';
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #031e45;
}

.question-title-container {
  @include flexCenterColumn();
  align-items: center;
  margin-top: 3rem;
}

.question-title {
  color: white;
  text-align: center;
}

.small-logo {
  max-width: 30%;
  margin: 1em 0;
}

@media (min-width: 900px) {
  .container-three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.big-square-card {
  @include chooseCard(3rem, 3rem);
}

.small-square-card {
  @include chooseCard(2rem, 2rem);
}

.rectangle-card {
  @include chooseCard(3rem, 2rem);
}

// QUESTION BOX
.question-box {
  @include flexCenterColumn();

  background-color: #dcfdf9;
  width: 50vw;
  min-height: 50vh;
  margin-top: 10%;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.question-box-tilte {
  @include flexCenterColumn();
}

.question-name {
  margin: 4rem;
}

.option-answer {
  color: '#001446';
}

.option-image {
  width: 40vw;
}

button {
  border: none;
  margin: 1rem;
}

.square-box {
  @include flexCenterColumn();

  background-color: $clr-accent;
  display: flex;
  background-color: #031e45;
}

.option-answer-button {
  min-width: 90%;
  min-height: 5vh;
  background-color: #a9efe6;
  color: '#001446';
  font-size: large;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 1rem;
}

.option-icon-button {
  max-width: 19vw;
  height: 20vh;
  background-color: $clr-accent;
}

.option-answer-button:hover,
.option-icon-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.selected {
  border: 2px;
}

.option-icon-button img {
  max-width: 25%;
}

.rec {
  display: block;
}

.rec-arrow {
  background-color: #a9efe6;
}

@media (min-width: 900px) {
  .question-title-container {
    @include flexCenter();
    align-items: center;
    margin-top: 3rem;
  }

  .small-logo {
    margin-left: 2rem;
    max-width: 6%;
  }

  .question-box {
    @include flexCenterColumn();

    background-color: #dcfdf9;
    min-width: 35vw;
    min-height: 50vh;
    margin-top: 10%;
    border-radius: 15px;
    padding: 1rem;
  }

  .option-answer-button {
    min-width: 90%;
    min-height: 5vh;
    background-color: #a9efe6;
    color: '#001446';
    font-size: large;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 1rem;
  }

  .option-icon-button {
    max-width: 19vw;
    height: 20vh;
    background-color: $clr-accent;
  }
}

.square-box-ref {
  background-color: #c7f6f0;
  color: #001446;
  padding: 1rem;
  border-radius: 10px;
}
