.map {
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}

.search-input {
  background-color: #b9f4ed;
  color: #168f7f;
}

.input-search-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
