@import './Mixins.scss';
@import './Variables.scss';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  font-family: var($ff-primary);
  font-size: var($fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

strong {
  font-weight: var($fw-bold);
}

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  text-decoration: none;
  cursor: pointer;

  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var($fw-bold);

  transition: transform 200ms ease-in-out;
  background-color: $clr-accent;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  background-color: transparent;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var($fs-h1);
}

h2 {
  font-size: var($fs-h2);
}

h3 {
  font-size: var($fs-h3);
}
