$ff-primary: 'Source Sans Pro', sans-serif;
$ff-secondary: 'Source Code Pro', monospace;

$fw-reg: 300;
$fw-bold: 900;

$clr-light: #fff;
$clr-dark: #031e45;
$clr-accent: #47bfaf;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-body: 1rem;

$fs-h1-web: 4.5rem;
$fs-h2-web: 3.75rem;
$fs-h3-web: 1.5rem;
$fs-body-web: 1.125rem;
